NODE_ENV=...

FRONTEND_SERVER_PORT=...

FRONTEND_SENTRY_DSN=...

STRIPE_PK=...

R2_BASE_URL=...

ASTROLOGY_API_URL=...
PAYMENT_API_URL=...
BOOKING_API_URL=...

ASTROLOGY_API_SERVER_DC_PORT=...
ASTROLOGY_API_SERVER_DC_DNS=...
ASTROLOGY_API_SERVER_K8S_PORT=...
ASTROLOGY_API_SERVER_K8S_DNS=...

BOOKING_API_SERVER_DC_PORT=...
BOOKING_API_SERVER_DC_DNS=...
BOOKING_API_SERVER_K8S_PORT=...
BOOKING_API_SERVER_K8S_DNS=...

PAYMENT_API_SERVER_DC_PORT=...
PAYMENT_API_SERVER_DC_DNS=...
PAYMENT_API_SERVER_K8S_PORT=...
PAYMENT_API_SERVER_K8S_DNS=...

FRONTEND_SERVER_DC_PORT=...
FRONTEND_SERVER_DC_DNS=...
FRONTEND_SERVER_K8S_PORT=...
FRONTEND_SERVER_K8S_DNS=...
