NODE_ENV=...

ASTROLOGY_API_SERVER_PORT=...
ASTROLOGY_API_SERVER_DNS=...
BOOKING_API_SERVER_PORT=...
BOOKING_API_SERVER_DNS=...
PAYMENT_API_SERVER_PORT=...
PAYMENT_API_SERVER_DNS=...
FRONTEND_SERVER_PORT=...
FRONTEND_SERVER_DNS=...

ASTROLOGICAL_API_URL=...
PAYMENT_API_URL=...
BOOKING_API_URL=...

STRIPE_PK=...

FRONTEND_SENTRY_DSN=...

R2_BASE_URL=...
