VITE_DEBUG_MODE=false
VITE_NODE_ENV=development

VITE_ASTROLOGICAL_API_URL=http://localhost:3031
VITE_PAYMENT_API_URL=http://localhost:3032
VITE_BOOKING_API_URL=http://localhost:3033

VITE_STRIPE_PK=pk_test_your_stripe_publishable_key
